/* @font-face
  font-family: 'Inter'
  font-style:  normal
  font-weight: 100
  src: url("./fonts/Inter/Inter-web/Inter-Thin.woff2") format("woff2"),
       url("./fonts/Inter/Inter-web/Inter-Thin.woff") format("woff")
*/
